{
  "root": true,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:tailwindcss/recommended",
        "plugin:@next/next/recommended"
      ],
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "rules": {
        "react/react-in-jsx-scope": "off"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:tailwindcss/recommended",
        "plugin:@next/next/recommended"
      ],
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "rules": {
        "react/react-in-jsx-scope": "off"
      }
    },
    {
      "files": ["*.graphql", "*.gql"],
      "parser": "@graphql-eslint/eslint-plugin",
      "plugins": ["@graphql-eslint"],
      "extends": ["plugin:@graphql-eslint/schema-recommended"],
      "parserOptions": {
        "schema": "./**/*.graphql"
      }
    }
  ]
}
